CONFIG_TARGET = 'mapip2'
CONFIG_CGEN_DIR = '/c/code/cgen-1.1'
CONFIG_INSTALLDIR = '/c/MoSync/libexec/gcc/mapip2/4.6.3'
def CONFIG_RUN_FUNCTION
	cd 'c:/mosync/build/debug_4.6.1/'
	sh 'gas.exe matime.s'
end
CONFIG_MOSYNC_SOURCE_DIR = '/c/code/mosync-master'
